* {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body, section {
	width: 100%;
	margin: 0 auto;
}


.row {
	width: 100%;
	display: flex;
}

.box {
	padding: 15px;
	margin: 30px;
	max-width: 200px;
	background: #ffe100;
	border: 1px solid #d4b108;
	border-radius: 5px;
   	box-shadow: 1px 1px 1px #888888;
}

div.event {
	height: 60px;
	width: 300px;
	margin-left: 30px;
	color: #000 !important;
	transition: 300ms all ease;
}

div.event:hover {
	font-weight: bold;
}


/*H's*/
h1 {
	font-size: 24px;
	font-weight: 300;
}

h1.title {
	height: auto;
	padding: 65px;
	text-align: center;
	font-size: 34px;
	color: #FFF;
	margin: 0px;
}

h2 {
	font-family: 28px;
	font-weight: 200px;
	margin: 30px;
}

h3 {
	font-size: 18px;
	font-weight: 400;
}

/*SPAN*/
span.item {
	font-size: 20px;
	padding: 13px;
	cursor: pointer;
	display: flex;
	transition: 300ms all ease;
}

span.item:hover {
	background: #000;
}

/*HEADER*/
header {
	color: #000;
	transition: 200ms all ease;
}

header:hover {
	background: #ffe100;
	color: #000;
}

/*BLOCK*/
div.block {
	padding: 25px;
	margin: 0 auto;
}

article {
	width: auto;
	max-width: 800px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin: 0 auto;
	padding: 25px;
	background: #ffe100;
	line-height: 1.8;
	font-size: 16px;
	border: 1px solid #d4b108;
	border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
}

a {
	text-decoration: none;
	color: #FFF;
}

.splash-image {
	max-width: 275px;
	max-height: 275px;
	margin: 0 auto;
}

/*FOOTER*/
footer {
	margin: 0 auto;
	margin-top: 15px;
	width: 100%;
	height: 70;
	background: #ffe100;
	border-top: 1px solid #d4b108;
	text-align: center;
}

footer a {
	color: #000;
	transition: 300ms all ease;
}

footer a:hover {
	font-weight: bold;
}

footer h1 {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

footer h3 {
	margin: 0 auto;
	margin-bottom: 20px;
}

/*SECTIONS*/
section.splash {
	background-image: url("milky.jpeg");
	background-size: cover;
}

section.ap {
	background-image: url("ap.jpg");
	background-size: cover;
}

section.dp {
	background-image: url("dp.jpg");
	background-size: cover;
}

section.mm {
	background-image: url("mm.jpg");
	background-size: cover;
}


section.is {
	background-image: url("is.jpg");
	background-size: cover;
}


section.rm {
	background-image: url("rm.jpg");
	background-size: cover;
}

section.m {
	background-image: url("m.jpeg");
	background-size: cover;
}

section.rfts {
	background-image: url("rfts.jpg");
	background-size: cover;
}

section.e {
	background-image: url("e.jpg");
	background-size: cover;
}

section.dd {
	background-image: url("dd.jpg");
	background-size: cover;
}

section.rs {
	background-image: url("rs.jpg");
	background-size: cover;
}

section.h {
	background-image: url("h.jpg");
	background-size: cover;
}

section.o {
	background-image: url("o.jpg");
	background-size: cover;
}

section.wp {
	background-image: url("wp.jpg");
	background-size: cover;
}

section.xpd {
	background-image: url("xpd.jpg");
	background-size: cover;
}

section.ws {
	background-image: url("ws.jpg");
	background-size: cover;
}

section.fs {
	background-image: url("fs.jpg");
	background-size: cover;
}

section.cb {
	background-image: url("cb.jpg");
	background-size: cover;
}

section.mp {
	background-image: url("mp.jpg");
	background-size: cover;
}

section.br {
	background-image: url("br.jpg");
	background-size: cover;
}

section.widi {
	background-image: url("widi.jpg");
	background-size: cover;
}

section.ff {
	background-image: url("ff.jpg");
	background-size: cover;
}

section.s {
	background-image: url("s.jpg");
	background-size: cover;
}

section.t {
	background-image: url("t.jpg");
	background-size: cover;
}
